/* Created by: Kukwac
* Created on: April 2025
* This CSS file defines the style for index.html
* ICD2O-Unit3-04-HTML-FahrenheitCelsius
*/

body {
    background-color: rgb(255, 255, 255);
}

h1 {
    background-color: rgb(105, 133, 212);
    color: hsl(78, 37%, 39%);
    padding: 40px;
    text-align: center;
}

p {
    background-color: #bc6a6a;
}